<p id="notice"><%= notice %></p>

<h1>Kikankoshin P1s</h1>

<table>
  <thead>
    <tr>
      <th>Immigration</th>
      <th>Nationality</th>
      <th>Birthyear</th>
      <th>Birthmonth</th>
      <th>Birthday</th>
      <th>Applicantname</th>
      <th>Sex</th>
      <th>Placeofbirth</th>
      <th>Maritalstatus</th>
      <th>Occupation</th>
      <th>Hometown</th>
      <th>Address</th>
      <th>Telephone</th>
      <th>Cellular</th>
      <th>Passportnumber</th>
      <th>Passportexpirationyear</th>
      <th>Passportexpirationmonth</th>
      <th>Passportexpirationday</th>
      <th>Statusof</th>
      <th>Residence</th>
      <th>Periodofstay</th>
      <th>Resideceexpirationyear</th>
      <th>Residenceexpirationmonth</th>
      <th>Residenceexpirationday</th>
      <th>Residencecard</th>
      <th>Desirelength</th>
      <th>Reason</th>
      <th>Criminalrecord</th>
      <th>Criminaldetail</th>
      <th>Familyrelationship1</th>
      <th>Familyname1</th>
      <th>Familybirthday1</th>
      <th>Familynationality1</th>
      <th>Residingwith1</th>
      <th>Familycompany1</th>
      <th>Familyresidencenumber1</th>
      <th>Familyrelationship2</th>
      <th>Familyname2</th>
      <th>Familybirthday2</th>
      <th>Familynationality2</th>
      <th>Residingwith2</th>
      <th>Familycompany2</th>
      <th>Familyresidencenumber2</th>
      <th>Familyrelationship3</th>
      <th>Familyname3</th>
      <th>Familybirthday3</th>
      <th>Familynationality3</th>
      <th>Residingwith3</th>
      <th>Familycompany3</th>
      <th>Familyresidencenumber3</th>
      <th>Familyrelationship4</th>
      <th>Familyname4</th>
      <th>Familybirthday4</th>
      <th>Familynationality4</th>
      <th>Residingwith4</th>
      <th>Familycompany4</th>
      <th>Familyresidencenumber4</th>
      <th>Familyrelationship5</th>
      <th>Familyname5</th>
      <th>Familybirthday5</th>
      <th>Familynationality5</th>
      <th>Residingwith5</th>
      <th>Familycompany5</th>
      <th>Familyresidencenumber5</th>
      <th>Familyrelationship6</th>
      <th>Familyname6</th>
      <th>Familybirthday6</th>
      <th>Familynationality6</th>
      <th>Residingwith6</th>
      <th>Familycompany6</th>
      <th>Familyresidencenumber6</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kikankoshin_p1s.each do |kikankoshin_p1| %>
      <tr>
        <td><%= kikankoshin_p1.Immigration %></td>
        <td><%= kikankoshin_p1.Nationality %></td>
        <td><%= kikankoshin_p1.BirthYear %></td>
        <td><%= kikankoshin_p1.BirthMonth %></td>
        <td><%= kikankoshin_p1.BirthDay %></td>
        <td><%= kikankoshin_p1.ApplicantName %></td>
        <td><%= kikankoshin_p1.Sex %></td>
        <td><%= kikankoshin_p1.PlaceOfBirth %></td>
        <td><%= kikankoshin_p1.MaritalStatus %></td>
        <td><%= kikankoshin_p1.Occupation %></td>
        <td><%= kikankoshin_p1.HomeTown %></td>
        <td><%= kikankoshin_p1.Address %></td>
        <td><%= kikankoshin_p1.Telephone %></td>
        <td><%= kikankoshin_p1.Cellular %></td>
        <td><%= kikankoshin_p1.PassportNumber %></td>
        <td><%= kikankoshin_p1.PassportExpirationYear %></td>
        <td><%= kikankoshin_p1.PassportExpirationMonth %></td>
        <td><%= kikankoshin_p1.PassportExpirationDay %></td>
        <td><%= kikankoshin_p1.StatusOf %></td>
        <td><%= kikankoshin_p1.Residence %></td>        
        <td><%= kikankoshin_p1.PeriodOfStay %></td>
        <td><%= kikankoshin_p1.ResideceExpirationYear %></td>
        <td><%= kikankoshin_p1.ResidenceExpirationMonth %></td>
        <td><%= kikankoshin_p1.ResidenceExpirationDay %></td>
        <td><%= kikankoshin_p1.ResidenceCard %></td>
        <td><%= kikankoshin_p1.DesireLength %></td>
        <td><%= kikankoshin_p1.Reason %></td>
        <td><%= kikankoshin_p1.CriminalRecord %></td>
        <td><%= kikankoshin_p1.CriminalDetail %></td>
        <td><%= kikankoshin_p1.FamilyRelationship1 %></td>
        <td><%= kikankoshin_p1.FamilyName1 %></td>
        <td><%= kikankoshin_p1.FamilyBirthday1 %></td>
        <td><%= kikankoshin_p1.FamilyNationality1 %></td>
        <td><%= kikankoshin_p1.ResidingWith1 %></td>
        <td><%= kikankoshin_p1.FamilyCompany1 %></td>
        <td><%= kikankoshin_p1.FamilyResidenceNumber1 %></td>
        <td><%= kikankoshin_p1.FamilyRelationship2 %></td>
        <td><%= kikankoshin_p1.FamilyName2 %></td>
        <td><%= kikankoshin_p1.FamilyBirthday2 %></td>
        <td><%= kikankoshin_p1.FamilyNationality2 %></td>
        <td><%= kikankoshin_p1.ResidingWith2 %></td>
        <td><%= kikankoshin_p1.FamilyCompany2 %></td>
        <td><%= kikankoshin_p1.FamilyResidenceNumber2 %></td>
        <td><%= kikankoshin_p1.FamilyRelationship3 %></td>
        <td><%= kikankoshin_p1.FamilyName3 %></td>
        <td><%= kikankoshin_p1.FamilyBirthday3 %></td>
        <td><%= kikankoshin_p1.FamilyNationality3 %></td>
        <td><%= kikankoshin_p1.ResidingWith3 %></td>
        <td><%= kikankoshin_p1.FamilyCompany3 %></td>
        <td><%= kikankoshin_p1.FamilyResidenceNumber3 %></td>
        <td><%= kikankoshin_p1.FamilyRelationship4 %></td>
        <td><%= kikankoshin_p1.FamilyName4 %></td>
        <td><%= kikankoshin_p1.FamilyBirthday4 %></td>
        <td><%= kikankoshin_p1.FamilyNationality4 %></td>
        <td><%= kikankoshin_p1.ResidingWith4 %></td>
        <td><%= kikankoshin_p1.FamilyCompany4 %></td>
        <td><%= kikankoshin_p1.FamilyResidenceNumber4 %></td>
        <td><%= kikankoshin_p1.FamilyRelationship5 %></td>
        <td><%= kikankoshin_p1.FamilyName5 %></td>
        <td><%= kikankoshin_p1.FamilyBirthday5 %></td>
        <td><%= kikankoshin_p1.FamilyNationality5 %></td>
        <td><%= kikankoshin_p1.ResidingWith5 %></td>
        <td><%= kikankoshin_p1.FamilyCompany5 %></td>
        <td><%= kikankoshin_p1.FamilyResidenceNumber5 %></td>
        <td><%= kikankoshin_p1.FamilyRelationship6 %></td>
        <td><%= kikankoshin_p1.FamilyName6 %></td>
        <td><%= kikankoshin_p1.FamilyBirthday6 %></td>
        <td><%= kikankoshin_p1.FamilyNationality6 %></td>
        <td><%= kikankoshin_p1.ResidingWith6 %></td>
        <td><%= kikankoshin_p1.FamilyCompany6 %></td>
        <td><%= kikankoshin_p1.FamilyResidenceNumber6 %></td>
        <td><%= link_to 'Show', kikankoshin_p1 %></td>
        <td><%= link_to 'Edit', edit_kikankoshin_p1_path(kikankoshin_p1) %></td>
        <td><%= link_to 'Destroy', kikankoshin_p1, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kikankoshin P1', new_kikankoshin_p1_path %>

