<p id="notice"><%= notice %></p>

<p>
  <strong>Immigration:</strong>
  <%= @kikankoshin_p1.Immigration %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @kikankoshin_p1.Nationality %>
</p>

<p>
  <strong>Birthyear:</strong>
  <%= @kikankoshin_p1.BirthYear %>
</p>

<p>
  <strong>Birthmonth:</strong>
  <%= @kikankoshin_p1.BirthMonth %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @kikankoshin_p1.BirthDay %>
</p>

<p>
  <strong>Applicantname:</strong>
  <%= @kikankoshin_p1.ApplicantName %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @kikankoshin_p1.Sex %>
</p>

<p>
  <strong>Placeofbirth:</strong>
  <%= @kikankoshin_p1.PlaceOfBirth %>
</p>

<p>
  <strong>Maritalstatus:</strong>
  <%= @kikankoshin_p1.MaritalStatus %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @kikankoshin_p1.Occupation %>
</p>

<p>
  <strong>Hometown:</strong>
  <%= @kikankoshin_p1.HomeTown %>
</p>

<p>
  <strong>Address:</strong>
  <%= @kikankoshin_p1.Address %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @kikankoshin_p1.Telephone %>
</p>

<p>
  <strong>Cellular:</strong>
  <%= @kikankoshin_p1.Cellular %>
</p>

<p>
  <strong>Passportnumber:</strong>
  <%= @kikankoshin_p1.PassportNumber %>
</p>

<p>
  <strong>Passportexpirationyear:</strong>
  <%= @kikankoshin_p1.PassportExpirationYear %>
</p>

<p>
  <strong>Passportexpirationmonth:</strong>
  <%= @kikankoshin_p1.PassportExpirationMonth %>
</p>

<p>
  <strong>Passportexpirationday:</strong>
  <%= @kikankoshin_p1.PassportExpirationDay %>
</p>

<p>
  <strong>Statusof:</strong>
  <%= @kikankoshin_p1.StatusOf %>
</p>

<p>
  <strong>Residence:</strong>
  <%= @kikankoshin_p1.Residence %>
</p>

<p>
  <strong>Periodofstay:</strong>
  <%= @kikankoshin_p1.PeriodOfStay %>
</p>

<p>
  <strong>Resideceexpirationyear:</strong>
  <%= @kikankoshin_p1.ResideceExpirationYear %>
</p>

<p>
  <strong>Residenceexpirationmonth:</strong>
  <%= @kikankoshin_p1.ResidenceExpirationMonth %>
</p>

<p>
  <strong>Residenceexpirationday:</strong>
  <%= @kikankoshin_p1.ResidenceExpirationDay %>
</p>

<p>
  <strong>Residencecard:</strong>
  <%= @kikankoshin_p1.ResidenceCard %>
</p>

<p>
  <strong>Desirelength:</strong>
  <%= @kikankoshin_p1.DesireLength %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @kikankoshin_p1.Reason %>
</p>

<p>
  <strong>Criminalrecord:</strong>
  <%= @kikankoshin_p1.CriminalRecord %>
</p>

<p>
  <strong>Criminaldetail:</strong>
  <%= @kikankoshin_p1.CriminalDetail %>
</p>

<p>
  <strong>Familyrelationship1:</strong>
  <%= @kikankoshin_p1.FamilyRelationship1 %>
</p>

<p>
  <strong>Familyname1:</strong>
  <%= @kikankoshin_p1.FamilyName1 %>
</p>

<p>
  <strong>Familybirthday1:</strong>
  <%= @kikankoshin_p1.FamilyBirthday1 %>
</p>

<p>
  <strong>Familynationality1:</strong>
  <%= @kikankoshin_p1.FamilyNationality1 %>
</p>

<p>
  <strong>Residingwith1:</strong>
  <%= @kikankoshin_p1.ResidingWith1 %>
</p>

<p>
  <strong>Familycompany1:</strong>
  <%= @kikankoshin_p1.FamilyCompany1 %>
</p>

<p>
  <strong>Familyresidencenumber1:</strong>
  <%= @kikankoshin_p1.FamilyResidenceNumber1 %>
</p>

<p>
  <strong>Familyrelationship2:</strong>
  <%= @kikankoshin_p1.FamilyRelationship2 %>
</p>

<p>
  <strong>Familyname2:</strong>
  <%= @kikankoshin_p1.FamilyName2 %>
</p>

<p>
  <strong>Familybirthday2:</strong>
  <%= @kikankoshin_p1.FamilyBirthday2 %>
</p>

<p>
  <strong>Familynationality2:</strong>
  <%= @kikankoshin_p1.FamilyNationality2 %>
</p>

<p>
  <strong>Residingwith2:</strong>
  <%= @kikankoshin_p1.ResidingWith2 %>
</p>

<p>
  <strong>Familycompany2:</strong>
  <%= @kikankoshin_p1.FamilyCompany2 %>
</p>

<p>
  <strong>Familyresidencenumber2:</strong>
  <%= @kikankoshin_p1.FamilyResidenceNumber2 %>
</p>

<p>
  <strong>Familyrelationship3:</strong>
  <%= @kikankoshin_p1.FamilyRelationship3 %>
</p>

<p>
  <strong>Familyname3:</strong>
  <%= @kikankoshin_p1.FamilyName3 %>
</p>

<p>
  <strong>Familybirthday3:</strong>
  <%= @kikankoshin_p1.FamilyBirthday3 %>
</p>

<p>
  <strong>Familynationality3:</strong>
  <%= @kikankoshin_p1.FamilyNationality3 %>
</p>

<p>
  <strong>Residingwith3:</strong>
  <%= @kikankoshin_p1.ResidingWith3 %>
</p>

<p>
  <strong>Familycompany3:</strong>
  <%= @kikankoshin_p1.FamilyCompany3 %>
</p>

<p>
  <strong>Familyresidencenumber3:</strong>
  <%= @kikankoshin_p1.FamilyResidenceNumber3 %>
</p>

<p>
  <strong>Familyrelationship4:</strong>
  <%= @kikankoshin_p1.FamilyRelationship4 %>
</p>

<p>
  <strong>Familyname4:</strong>
  <%= @kikankoshin_p1.FamilyName4 %>
</p>

<p>
  <strong>Familybirthday4:</strong>
  <%= @kikankoshin_p1.FamilyBirthday4 %>
</p>

<p>
  <strong>Familynationality4:</strong>
  <%= @kikankoshin_p1.FamilyNationality4 %>
</p>

<p>
  <strong>Residingwith4:</strong>
  <%= @kikankoshin_p1.ResidingWith4 %>
</p>

<p>
  <strong>Familycompany4:</strong>
  <%= @kikankoshin_p1.FamilyCompany4 %>
</p>

<p>
  <strong>Familyresidencenumber4:</strong>
  <%= @kikankoshin_p1.FamilyResidenceNumber4 %>
</p>

<p>
  <strong>Familyrelationship5:</strong>
  <%= @kikankoshin_p1.FamilyRelationship5 %>
</p>

<p>
  <strong>Familyname5:</strong>
  <%= @kikankoshin_p1.FamilyName5 %>
</p>

<p>
  <strong>Familybirthday5:</strong>
  <%= @kikankoshin_p1.FamilyBirthday5 %>
</p>

<p>
  <strong>Familynationality5:</strong>
  <%= @kikankoshin_p1.FamilyNationality5 %>
</p>

<p>
  <strong>Residingwith5:</strong>
  <%= @kikankoshin_p1.ResidingWith5 %>
</p>

<p>
  <strong>Familycompany5:</strong>
  <%= @kikankoshin_p1.FamilyCompany5 %>
</p>

<p>
  <strong>Familyresidencenumber5:</strong>
  <%= @kikankoshin_p1.FamilyResidenceNumber5 %>
</p>

<p>
  <strong>Familyrelationship6:</strong>
  <%= @kikankoshin_p1.FamilyRelationship6 %>
</p>

<p>
  <strong>Familyname6:</strong>
  <%= @kikankoshin_p1.FamilyName6 %>
</p>

<p>
  <strong>Familybirthday6:</strong>
  <%= @kikankoshin_p1.FamilyBirthday6 %>
</p>

<p>
  <strong>Familynationality6:</strong>
  <%= @kikankoshin_p1.FamilyNationality6 %>
</p>

<p>
  <strong>Residingwith6:</strong>
  <%= @kikankoshin_p1.ResidingWith6 %>
</p>

<p>
  <strong>Familycompany6:</strong>
  <%= @kikankoshin_p1.FamilyCompany6 %>
</p>

<p>
  <strong>Familyresidencenumber6:</strong>
  <%= @kikankoshin_p1.FamilyResidenceNumber6 %>
</p>

<%= link_to 'Print', kikankoshin_p1_path(@kikankoshin_p1, format: 'pdf') %> |
<%= link_to 'Edit', edit_kikankoshin_p1_path(@kikankoshin_p1) %> |
<%= link_to 'Back', kikankoshin_p1s_path %>
